<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csw.monkmanager.dao.ChapterDao">


    <select id="selectByAlbumId" resultType="Chapter">
        select *
        from chapter
        where album_id = #{id}
    </select>
</mapper>
